﻿@{
    ViewBag.Title = "Home Page";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/knockout")

<style>
    pre {
        outline: 1px solid #ccc;
        padding: 5px;
        margin: 5px;
    }

    .string {
        color: green;
    }

    .number {
        color: darkorange;
    }

    .boolean {
        color: blue;
    }

    .null {
        color: magenta;
    }

    .key {
        color: red;
    }
</style>

<div class="row">
    <div class="col-md-12"> <h1>FinReg API Tester - for UK API</h1></div>
</div>

<div class="row">
    <div class="col-md-4"><input type="text" data-bind="value:companyId" /></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
</div>
<br />

<div class="row">
    <div class="col-md-2"><label data-bind="text:companyId"></label></div>
    <div class="col-md-10"><label data-bind="text:companyName"></label></div>
</div>

<script type="text/javascript">
    var AppViewModel = function () {
        var self = this;
        self.JSONData = ko.observable();

        self.ppJson = ko.observable("");

        self.companyName = ko.observable("");

        self.companyId = ko.observable("");
        self.companyId.subscribe(function () {
            self.idChange();
        });

        self.idChange = function () {
            console.info("idChange", self.companyId());
            var ctrlr = '/Home/GetCompany';
            $.ajax({
                type: "POST",
                url: ctrlr,
                data: JSON.stringify({ param: self.companyId() }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: populateModel,
                error: errorFunc
            });

            function syntaxHighlight(json) {
                if (typeof json != 'string') {
                    json = JSON.stringify(json, undefined, 2);
                }
                json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
                return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
                    var cls = 'number';
                    if (/^"/.test(match)) {
                        if (/:$/.test(match)) {
                            cls = 'key';
                        } else {
                            cls = 'string';
                        }
                    } else if (/true|false/.test(match)) {
                        cls = 'boolean';
                    } else if (/null/.test(match)) {
                        cls = 'null';
                    }
                    return '<span class="' + cls + '">' + match + '</span>';
                });
            }

            function output(inp) {
                console.info(inp);

                document.body.getElementsByTagName("pre")[0].innerHTML = inp;
                
                //document.body.appendChild(document.createElement('pre')).innerHTML = inp;
            }

            function populateModel(data, status) {
                console.info('success fetching data from controller - populating model..');
                if (!data) {
                    self.companyName("NOT FOUND!");
                    self.JSONData("");
                    output("");
                }
                else {
                    self.JSONData(JSON.parse(data));
                    console.info(self.JSONData());
                    self.companyName(self.JSONData().company_name);
                    self.ppJson(syntaxHighlight(JSON.stringify(self.JSONData(), undefined, 2)));
                    output(syntaxHighlight(JSON.stringify(self.JSONData(), undefined, 2)));
                }
            }
            function errorFunc() {
                alert('error fetching data from controller');
            }
        }
    }
    $(document).ready(function () {
        var viewModel = new AppViewModel();
        ko.applyBindings(viewModel);
        //document.body.appendChild(document.createElement('pre'))
    });

</script>
